
// global

$base-color: rgb(51,51,51);
$page-bg-color: rgb(34,34,34);
$active-color: rgb(138,204,177);

$font-family: "ff-dagny-web-pro", sans-serif;

$base-gradient: 'matte';
$tabs-dark: darken($base-color, 20%);

$include-border-radius: false;


// defaults

@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-list;
@include sencha-layout;
@include sencha-form;


.padding {
	padding: 1em;
}

.welcome {
	img {
		max-width: 100%;
		height: auto;
	}
	h1 {
		text-align: center;
		margin: 0 auto;
		padding: .3em;
	}
}

.x-html {
	color: rgb(244,244,244);

	a {
		color: $active-color;
		font-weight: bold;
		text-decoration: none;
	}

}

.x-body > .x-inner, 
.x-container > .x-inner,
.x-button {
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0; 
}

.x-inner, 
.x-html, 
.x-layout-vbox, 
.x-scroll-scroller { padding: 0; }

.x-list {
	background: $page-bg-color;
}
.x-list-normal .x-list-item .x-list-item-label {
	border-top: 1px solid $base-color;

	.color-box {
		float: left;
		width: 25px;
		height: 25px;
		background: rgb(40,40,40);

		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		border-radius: 25px;
	}

	.message {
		margin-left: 38px;
	}

}
.x-list .x-list-item .x-list-item-label {
	min-height: 2.6em;
	font-size: 1.25em;
	color: rgb(240,240,240);
	padding: 0.75em 1em;
}
.x-list-pullrefresh-updated {
	padding: 1em;
	color: rgb(180,180,180);
}
.x-list-pullrefresh {
	text-align: center;
}
.x-list-pullrefresh h3 {
	padding: 1em 0 0;
	margin: 0 0 .5em;
	color: rgb(255,255,255);
	font-style: italic;
}
.x-list-pullrefresh-release h3 {
	color: $active-color;
}

.context {
	color: rgb(100,100,100);
	font-style: italic;
}

.thanks-text {
	padding: 1em .75em;
	font-size: 3em;
	line-height: 1.25;
	font-weight: bold;
	color: $active-color;
}

p.color-msg {
	position: relative;
	display: block;
	margin: 0 1.5em;
	padding-top: 0;
	padding-bottom: 0;

	> span {
		position: absolute;
		font-size: 4.5em;
		line-height: 1em;
		top: -.08em;
		left: -.5em;
	}

}


// tablets

@media only screen and (min-width : 600px) {

	body {
		font-size: 150%;
	}

	.padding {
		padding: 2em 3.5em;
	}

	.welcome {
		h1 {
			padding-top: .6em;
			padding-bottom: .4em;
		}
	}

	.x-tabbar.x-docked-bottom .x-tab .x-button-label, 
	.x-tabbar.x-docked-bottom .x-tab .x-hasbadge .x-badge, 
	.x-hasbadge .x-tabbar.x-docked-bottom .x-tab .x-badge {
		font-size: 15px;
	}

	.x-tabbar.x-docked-bottom .x-tab {
		min-width: 4.3em;
	}

}