
// global

$base-color: rgb(51,51,51);
$page-bg-color: rgb(34,34,34);
$active-color: rgb(138,204,177);

$font-family: "ff-dagny-web-pro", sans-serif;

$base-gradient: 'matte';
$tabs-dark: darken($base-color, 20%);

$include-border-radius: false;


// defaults

@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-list;
@include sencha-layout;
@include sencha-form;


.padding {
	padding: 1em;
}

.welcome {
	img {
		max-width: 100%;
		height: auto;
	}
	h1 {
		text-align: center;
		margin: 0 auto;
		padding: .3em;
	}
}

.x-html {
	color: rgb(244,244,244);

	a {
		color: $active-color;
		font-weight: bold;
		text-decoration: none;
	}

}

.x-body > .x-inner, 
.x-container > .x-inner,
.x-button {
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0; 
}

.x-inner, 
.x-html, 
.x-layout-vbox, 
.x-scroll-scroller { padding: 0; }


// tablets

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px),
	   only screen and (min-width : 1000px) {

	body {
		font-size: 150%;
	}

	.padding {
		padding: 2em 4em;
	}

	.welcome {
		h1 {
			padding-top: .6em;
			padding-bottom: .4em;
		}
	}

	.x-tabbar.x-docked-bottom .x-tab .x-button-label, 
	.x-tabbar.x-docked-bottom .x-tab .x-hasbadge .x-badge, 
	.x-hasbadge .x-tabbar.x-docked-bottom .x-tab .x-badge {
		font-size: 15px;
	}

	.x-tabbar.x-docked-bottom .x-tab {
		min-width: 4.3em;
	}

}