
// global

$base-color: rgb(51,51,51);
$page-bg-color: rgb(34,34,34);
$active-color: rgb(138,204,177);

$font-family: "ff-dagny-web-pro", sans-serif;

$base-gradient: 'matte';
$tabs-dark: darken($base-color, 20%);

$include-border-radius: false;


// defaults

@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-list;
@include sencha-layout;
@include sencha-form;


.welcome {
	img {
		max-width: 100%;
		height: auto;
	}
	h1 {
		text-align: center;
		margin: 0 auto .5em;
	}
}

.about-scroll {
	position: absolute;
	background: red;

	img {
		display: block;
		width: auto;
		max-height: 100%;
	}

}

.x-html {
	color: rgb(244,244,244);

	a {
		color: $active-color;
		font-weight: bold;
		text-decoration: none;
	}

}

.x-body > .x-inner, 
.x-container > .x-inner,
.x-button {
	-webkit-border-radius: 0; 
	-moz-border-radius: 0; 
	border-radius: 0; 
}